/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

/* Stylesheets import */
@import '/responsive_profile_page/components/avatar.css';
@import '/responsive_profile_page/components/banner.css';
@import '/responsive_profile_page/components/box.css';
@import '/responsive_profile_page/components/button.css';
@import '/responsive_profile_page/components/card.css';
@import '/responsive_profile_page/components/media.css';

/* Font refactorisations */
body {
  font-family: 'Nunito', sans-serif;
  background-color: #dddddd;
  /* font-size: 15px; */
}

h1, h4 {
  font-family: 'Roboto', sans-serif;
  color: black;
  letter-spacing: 0.4px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  padding: 30px 40px 15px 40px;
}

p, li {
  font-size: 16px;
}


/* General CSS refactorisations */
li {
  list-style: none;
  padding-bottom: 14px;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,0.7);
  font-size: 16px;
}

a:hover, a:active {
  color: rgba(0,0,0,1);
  text-decoration: none;
}


/* Generals margin and padding */
p {
  margin-bottom: 0;
}

.margin-center {
  margin: 30px auto;
}

.margin-t0 {
  margin-top: 0;
}

.margin-t35 {
  margin-top: 35px;
}

.margin-b15 {
  margin-bottom: 15px;
}

.margin-b20 {
  margin-bottom: 20px;
}


/* Generals list outfit */
.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
  padding: 6px 20px;
  margin-bottom: 5px;
}
